<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mihailovalex.ecommerce">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin.AdminCheckNewProductActivity"></activity>
        <activity android:name=".admin.AdminHomeActivity" />
        <activity
            android:name=".sellers.SellerHomeActivity"
            android:label="@string/title_activity_seller_home" />
        <activity android:name=".sellers.SellerLoginActivity" />
        <activity android:name=".sellers.SellerRegistrationActivity" />
        <activity android:name=".buyers.ResetPasswordActivity" />
        <activity android:name=".admin.AdminMaintainProductsActivity" />
        <activity
            android:name=".buyers.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".admin.AdminNewOrdersActivity" />
        <activity android:name=".sellers.SellerProductCategoryActivity" />
        <activity android:name=".sellers.SellerAddNewProductActivity" />
        <activity android:name=".buyers.RegisterActivity" />
        <activity android:name=".buyers.LoginActivity" />
        <activity android:name=".buyers.SettinsActivity" />
        <activity android:name=".buyers.ProductDetailsActivity" />
        <activity android:name=".buyers.SearchProductsActivity" />
        <activity android:name=".buyers.CartActivity" />
        <activity android:name=".buyers.ConfirmFinalOrderActivity" />
        <activity android:name=".admin.AdminUserProductsActivity" />
        <activity android:name=".buyers.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>