<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mihailovalex.taskslist">
    <!-- доступ к интернету -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- для настроек -->
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".EditGroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditTaskActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- для рекламы -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <!-- для строки поиска -->
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <!-- провайдер -->
        <provider
            android:name=".data.MyContentProvider"
            android:authorities="com.mihailovalex.taskslist.data.MyContentProvider" />
        <!-- сервис -->
        <service android:name=".services.TaskService"
            android:enabled="true"
            android:isolatedProcess="true"
            android:stopWithTask="false"/>
        <!-- виджет -->
        <receiver
            android:name=".widget.WidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/task_widget"/>
        </receiver>
        <service
            android:name=".widget.WidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>